.calckey {
  color: white;
  text-shadow: 1px 1px 2px #222;
  background-color: #666;
  border-radius: 5px;
  font-size: 1.5em;
  border-width: 1px;
  border-style: outset;
  border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5)
    rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
}

.calckey:active {
  border-style: inset;
  border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.5)
    rgba(255, 255, 255, 0.5);
}

.calckey[value='0'] {
  grid-column-end: span 2;
}

.calckey[value='÷'],
.calckey[value='×'],
.calckey[value='−'],
.calckey[value='+'],
.calckey[value='='] {
  background-color: #6a76a7;
}

.calckey[value='AC'],
.calckey[value='+/−'],
.calckey[value='%'] {
  background-color: #444;
}
