.calckey {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 1.2em;
  background-color: #666;
  border: 1px black solid;
  align-items: center;
  line-height: var(--calckey-size);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset -1px 1px 2px 0px rgba(255, 255, 255, 0.5),
    inset 1px -1px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(255, 255, 255, 0.5),
    inset 1px -1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(255, 255, 255, 0.5),
    inset 1px -1px 2px 0px rgba(0, 0, 0, 0.5);
}

.calckey.calckey-clicked {
  font-size: 1.1em;
  box-shadow: inset -2px 2px 4px 0px rgba(255, 255, 255, 0.5),
    inset 2px -2px 4px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset -2px 2px 4px 0px rgba(255, 255, 255, 0.5),
    inset 2px -2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -2px 2px 4px 0px rgba(255, 255, 255, 0.5),
    inset 2px -2px 4px 0px rgba(0, 0, 0, 0.5);
}

#zero {
  grid-column-end: span 2;
}

#divide,
#multiply,
#subtract,
#add,
#equals {
  background-color: #6a76a7;
}

#clear,
#posneg,
#percent {
  background-color: #4444;
}
