:root {
  --calckey-size: 60px;
  /* prettier-ignore */
  --dk-brushed-metal-linear: -webkit-repeating-linear-gradient(
      left,
      hsla(0, 0%, 30%, 0) 0%,
      hsla(0, 0%, 30%, 0) 6%,
      hsla(0, 0%, 30%, 0.1) 7.5%
    ), -webkit-repeating-linear-gradient(
      left, 
      hsla(0, 0%, 0%, 0) 0%, 
      hsla(0, 0%, 0%, 0) 4%, 
      hsla(0, 0%, 0%, 0.03) 4.5%
    ), -webkit-repeating-linear-gradient(
      left, 
      hsla(0, 0%, 30%, 0) 0%, 
      hsla(0, 0%, 30%, 0) 1.2%, 
      hsla(0, 0%, 30%, 0.15) 2.2%
    ), linear-gradient(
      180deg,
      hsl(0, 0%, 18%) 0%,
      hsl(0, 0%, 30%) 47%,
      hsl(0, 0%, 18%) 53%,
      hsl(0, 0%, 10%) 100%
    );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #404040;
  background: linear-gradient(30deg, #444 0%, #999 50%, #666 100%);
}
